@model IEnumerable<WebApplication27.Models.AdminFlight>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LocationFrom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocationTO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AeroplaneName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartureTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeatingCapacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LocationFrom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocationTO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AeroplaneName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepartureTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SeatingCapacity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PlaneID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PlaneID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PlaneID })
        </td>
    </tr>
}

</table>
